numpy
Pillow
pillow-heif
tqdm
fastapi
flask
uvicorn
requests
python-multipart
volcengine-python-sdk[ark]
jieba
insightface
onnxruntime
opencv-python-headless
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-Photos==10.3.2
pyobjc-framework-CoreLocation==10.3.2
